{
  "presets": [
    [
      "babel/preset-env",
      {
        "tragets": {
          "browsers": ["last 1 version"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}
